
@{
    ViewData["Title"] = "CarritoVacio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-brown">Tu carrito está vacio</h1>

<body class="text-center">
    <br/>
    <br/>
    <a asp-action="Index" asp-controller="Escaparate" class="btn btn-lg btn-dark">Añadir artículos</a>
</body>
