/*Cabecera fija*/
body{
    background-color: #e0ffff;
}

header{
    position:fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 21%;
    background-image:url(../IMAGES/fondoacademia.jpg);
    min-width: 700px;
}

header p{
    text-align: center;
    margin-top: 4.75%;
    font-size:250%;
    text-shadow: 11px 4px #7a7a7a7a;
    font-family: "ABeeZee",sans-serif;
    font-weight: bold;
}

#logo{
    float:left;
    margin-left: 3%;
    margin-top: 1.5%;
}

#traductor,#sesion,#salir{
    float:right;
    margin-right: 3%;
    margin-top: 2.5%;
}

nav{
    position: fixed;
    top: 20%;
    left:10.2%;
    text-align: center;
    width: 80%;
    margin-right: 10%;
}

.menu{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 6.5%;
    padding-right: 6.5%;
    background-color: #e0ffff;
    font-family: "ABeeZee",sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: black;
    transition: background-color 1.2s;
}

.menuactual{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 6.5%;
    padding-right: 6.5%;
    background-color: #7b68ee;
    font-family: "ABeeZee",sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: white;
}

.menu:hover{
    background-color: #7b68ee;
    transition: background-color 1.2s;
}

nav a{
    text-decoration: none;
}

nav a:hover{
    color:white;
}

/*Contenido Pág*/

.controlProfL{
    margin-top: 15%;
    width: 41%;
    margin-left: 8%;
    margin-bottom: 1%;
    border:solid;
    border-color:#e0ffff;
    float: left;
}

.controlProfR{
    margin-top: 15%;
    width: 41%;
    margin-right: 8%;
    margin-bottom: 1%;
    border:solid;
    border-color:#e0ffff;
    float: right;
}

.infoProf{
    margin-top: 1%;
    width: 97%;
    margin-left: 1%;
    margin-right: 1%;
    min-height: 250px;
    margin-bottom: 1%;
    border:solid;
    border-color:#e0ffff;
}

.infoProf p{
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    font-family:"Helvetica";
}

.infoProfLarge{
    margin-top: 1%;
    width: 97%;
    margin-left: 1%;
    margin-right: 1%;
    min-height: 600px;
    margin-bottom: 1%;
    border:solid;
    border-color:#e0ffff;
    font-family:"Helvetica";
    font-size: 100%;
}

table{
    text-align: center;
    width: 89%;
    margin-top: 1%;
    margin-left:5%;
    margin-right: 5%;
    min-height: 550px;
}

.infoProfMini{
    margin-top: 1%;
    width: 44%;
    margin-left: 3%;
    margin-right: 1%;
    min-height: 300px;
    margin-bottom: 1%;
    border:solid;
    border-color:#e0ffff;
    font-family:"Helvetica";
    font-size: 100%;
    text-align: center;
    display: inline-block;
}

.HORARIOS{
    text-align: center;
    width: 79%;
    margin-top: 1%;
    margin-left:10%;
    margin-right: 10%;
    min-height: 250px;
    background-color: white;
}

.infoProfIMG{
    margin-top: 1%;
    width: 97%;
    margin-left: 1%;
    margin-right: 1%;
    min-height: 260px;
    margin-bottom: 1%; 
    border:solid;
    border-color:#e0ffff;
    text-align: center;
}

.infoTitulo{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 100%;
    margin-top: 8%;
    font-style: italic;
    font-family: "Aclonica", sans-serif;
}

footer{
    margin-top: 3%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 1%;
    min-height: 100px;
    border:solid;
    border-color:#e0ffff;
    float: left;
    text-align: center;
    font-family: "Helvetica";
    font-size: 100%;
}