
#Nav {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 0;
    padding-top: 3%;
    text-align: center;
}

h3 {
    font-family: Arial;
    padding: 0;
    margin: 0;
    text-align: center;
}

