
.Titulo {
    text-align: center;
}

.DivFormLabel {
    text-align: center;
}

.DivFormEnviar {
    text-align: center;
}

.Texto{
    text-align:right;
    width:30%;
    margin-right:3%;
    float:left;
}