div {
    text-align: center;
}
div p {
        text-align: right;
}
#DivFormText {
    float: left;
    width: 30%;
}
#DivForm {
    text-align: left;
    float: right;
    width: 67%;
}
.aspForms {
    margin-bottom: 1.1%;
}
#DivFormText p {
    margin-bottom: 3.5%;
}
#cdmEnviar {
    margin-top: 2%;
}
