@model MvcTienda_Aaron.Models.ProductoTalla
@{
    ViewData["Title"] = "AñadirCarrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="justify-content-center text-center col-lg-12 col-md-12 col-sm-12">
    <h3>Añadir al carrito</h3>
    <hr />
    @foreach (var item in ViewData["ProductoAñadir"] as IEnumerable<Producto>)
    {
        <div class="card shadow d-inline-block align-middle m-3" style="width:600px; height:800px; text-align:center">
            <div>
                @{
                    var nombreImagen = "error.png";
                    if (item.Imagen != null)
                    {
                        nombreImagen = item.Imagen;
                    }
                }
                <img class="card-img-top" style="width:500px; height:500px; margin:20px;" src="~/images/@nombreImagen">
            </div>
            <div class="card-body" style="height:300px;">
                <p class="card-text display-5" style="height:30px;">@Html.DisplayFor(modelItem => item.Descripcion)</p>
                <br/>
                <h4 class="fw-light">
                    @item.PrecioCadena€
                </h4>
                <br />
                <h4 class="fw-light">
                    Talla
                    @foreach (var talla in ViewData["TallaProducto"] as IEnumerable<Talla>)
                    {
                        @talla.Descripcion
                    }
                </h4>
                <br/>
                <form asp-action="AñadirCarrito">
                    <div class="form-group" hidden>
                        @Html.DisplayFor(model => model.Id)
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Añadir al carrito" class="btn btn-dark w-100" asp-action="AñadirCarrito" />
                    </div>
                </form>
            </div>
        </div>
    }
</div>

