@model IEnumerable<MvcTienda_Aaron.Models.Producto>

@{
    ViewData["Title"] = "Indice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Escaparate</h1>
<h4>@ViewBag.Categoria</h4>

<main class="container-fluid">
    <div class="row">
        @*Categorias*@
        <div class="col-lg-3 col-md-12 col-sm-12">
            <table class="table">
                @foreach (var i in ViewData("ListaCategorias") as IEnumerable<Categoria>)
                {
                    <tr>
                        <td>
                            <a asp-action="Index" asp-route-id="@i.Id">@i.Descripcion</a>
                        </td>
                    </tr>
                }
            </table>
        </div>

        @*Tarjeta de productos*@
        <div class="col-lg-9 col-md-12 col-sm-12">
            <div class="card-columns">
                @foreach (var item in Model)
                {
                    <div class="card" style="width:240px; height:450px; text-align:center">
                        <div>
                            @{
                                var nombreImagen = "error.png";
                                if{item.Imagen != null}
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>

